<!-- Preloader -->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->


<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Leno</a> -->

    <!-- Image Logo -->
    <a class="navbar-brand logo-image" routerLink=""><img src="../../assets/images/rlogo.png" alt="alternative"></a>

    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!-- routerLink="" (click)="userHome()" -->
                <a class="nav-link page-scroll" href="http://royalskyclub.com">HOME <span
                        class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link page-scroll" href="http://royalskyclub.com">FEATURES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#preview">PREVIEW</a>
            </li> -->

            <!-- Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle page-scroll" href="#details" id="navbarDropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">DETAILS</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="http://royalskyclub.com"><span class="item-text">TERMS
                            CONDITIONS</span></a>
                    <div class="dropdown-items-divide-hr"></div>
                    <a class="dropdown-item" href="http://royalskyclub.com"><span class="item-text">PRIVACY
                            POLICY</span></a>
                </div>
            </li>
            <!-- end of dropdown menu -->

            <li class="nav-item">
                <a class="nav-link page-scroll" href="http://royalskyclub.com">CONTACT</a>
            </li>

            <li class="nav-item">
                <a class="btn-sm btn-success" routerLink="profile" (click)="hidenavbar()" *ngIf="this.hS.getisLoggedinFlag()">PROFILE</a>
            </li>

        </ul>

    </div>
</nav> <!-- end of navbar -->
<!-- end of navbar -->