<!-- Header -->
<header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h1>ROYALSKY <br>CLUB  <span id="js-rotating">ROYAL MEMBERS,ROYAL+ MARKETERS, FREELANCERS</span></h1>
                            <p class="p-large">ഒരു അന്താരാഷ്ട്ര യാത്രയെ ഇഷ്ടപ്പെടുകയും ആഗ്രഹിക്കുകയും ചെയ്യുന്ന സാധാരണക്കാർക്കായി ഒരു പുതിയ പദ്ധതി.</p>
                            <a class="btn-solid-lg page-scroll" href="#your-link"> +91 000000000</a>
                            <a class="btn-solid-lg page-scroll" href="register"> Register Here</a>
                        </div>
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="../../assets/images/rrheader-iphone.png" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- Testimonials -->
    <div class="slider-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">
                                
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="../../assets/images/tmk.jpg" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">Proper guidance to each and every tourist spot,give our own freedom to enjoy each place to its best,points out the flaws in some place and what has to be done to overcome them,very cordial,deals with us like a family member more than a organizer of the tour event...Thailand food definitely haunts you after going with harisikka.
</p>
                                            <p class="testimonial-author">Mahesh Kumar</p>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="../../assets/images/tpn.png" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">It was a great trip with every single detail well explained. Harees ikka travelled with us and he explained and took care of each one of us like a family member. Truly recommend royal sky to all my family and friends and I will surely plan all my travel along with my family with Royal sky team.</p>
                                            <p class="testimonial-author">Prashanth Nair</p>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="../../assets/images/trs.jpg" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">I have been a trip with Royal sky....Every thing was taken care....Stay...Food ....any info about the Location were clearly explained...Also Mr.Harees Ikka was aslo with the group..
Had a great vacation....Thanks you can very well travel with them worth for money you spend....👍👍👍</p>
                                            <p class="testimonial-author">Ram Sunder</p>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="../../assets/images/tvv.jpg" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">A responsible travel partner and especially one of the office staff (Mrs Serin) to whom we were contacted from the beginning have given us an outstanding customer care makes our trip a great one and also many thanks
for your entire team......</p>
                                            <p class="testimonial-author">Vishnu Viswam</p>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="../../assets/images/tlp.jpg" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">Royal sky holidays വഴി ഞാനും എന്റെ കുടുംബവും നടത്തിയ Thailand യാത്ര സന്തോഷദായകവും ആനന്ദപ്രദവുമായിരുന്നു ടൂറിസ്റ്റുകളോടുള്ള അവരുടെ പെരുമാറ്റം വളരെ ഉത്തരവാദിത്വവും ശ്രദ്ധയും നിറഞ്ഞതായിരുന്നു. ജീവിതത്തിൽ ഒരിക്കലും മറക്കാൻ പറ്റാത്ത വിധമുള്ള ഒരു holidays Plan ചെയ്ത് നടപ്പിലാക്കിയ Royal Skys നു എന്റെയും കുടുംബത്തിന്റെയും സന്തോഷം അറിയിച്ചു കൊള്ളുന്നു</p>
                                            <p class="testimonial-author">Lalu Pattom</p>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="../../assets/images/tsj.jpg" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">A very good tour guide amazing experienced guide, really natural way dealing with collage. all will like the trip if Ameer Ali leads the trip</p>
                                            <p class="testimonial-author">Sajimon Joseph</p>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
                            
                            </div> <!-- end of swiper-wrapper -->
        
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->
        
                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
    <!-- end of testimonials -->
    

    <!-- Features -->
    <div id="features" class="tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ROYALSKY CLUB PLANS</h2>
                    <div class="p-heading p-large">ലഭ്യമായ മൂന്ന് പദ്ധതികൾ</div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">

                <!-- Tabs Links -->
                <ul class="nav nav-tabs" id="lenoTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-user"></i>ROYAL PLAN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-user-plus"></i>ROYAL+ PLAN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fas fa-handshake"></i>FREELANCE PLAN</a>
                    </li>
                </ul>
                <!-- end of tabs links -->


                <!-- Tabs Content-->
                <div class="tab-content" id="lenoTabsContent">
                    
                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <div class="container">
                            <div class="row">
                                
                                <!-- Icon Cards Pane -->
                                <div class="col-lg-4">
                                    <div class="card left-pane first">
                                        <div class="card-body">
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Condition</h4>
                                                <p>നിങ്ങൾ മുമ്പ് ഞങ്ങളോടൊപ്പം യാത്ര ചെയ്തിട്ടില്ലെങ്കിൽ. ഇത് നിങ്ങൾക്കുള്ള തികഞ്ഞ പ്ലാനാണ്.</p>
                                            </div>
                                            <div class="card-icon">
                                                <i class="far fa-sticky-note"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card left-pane">
                                        <div class="card-body">
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Club Points</h4>
                                                <p>നിങ്ങളുടെ റഫറൻസ് കോഡുമായി ആരെങ്കിലും യാത്ര ചെയ്യുകയാണെങ്കിൽ നിങ്ങൾക്ക് ക്ലബ് പോയിന്റുകൾ ലഭിക്കും</p>
                                            </div>
                                            <div class="card-icon">
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card left-pane">
                                        <div class="card-body">
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Offers</h4>
                                                <p>ഓരോ പുതിയ അക്കൌണ്ടും 1000 ക്ലബ് പോയന്റോടെ ആരംഭിക്കും/p>
                                            </div>
                                            <div class="card-icon">
                                                <i class="far fa-gem"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of icon cards pane -->

                                <!-- Image Pane -->
                                <div class="col-lg-4">
                                    <img class="img-fluid" src="../../assets/images/a1.png" alt="alternative">
                                </div>
                                <!-- end of image pane -->
                                
                                <!-- Icon Cards Pane -->
                                <div class="col-lg-4">
                                    <div class="card right-pane first">
                                        <div class="card-body">
                                            <div class="card-icon">
                                                <i class="far fa-calendar-check"></i>
                                            </div>
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Validity</h4>
                                                <p>2 Years</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card right-pane">
                                        <div class="card-body">
                                            <div class="card-icon">
                                                <i class="far fa-bookmark"></i>
                                            </div>
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Age Requirement</h4>
                                                <p>18 or Above</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card right-pane">
                                        <div class="card-body">
                                            <div class="card-icon">
                                                <i class="fas fa-exchange-alt"></i>
                                            </div>
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Transferable</h4>
                                                <p>Yes, നിങ്ങൾക്ക് ആവശ്യമുള്ളപ്പോൾ പോയിന്റുകൾ ആർക്കെങ്കിലും കൈമാറാൻ കഴിയും</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of icon cards pane -->

                            </div> <!-- end of row -->
                        </div> <!-- end of container -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                        <div class="container">
                            <div class="row">

                                <!-- Image Pane -->
                                <div class="col-md-4">
                                    <img class="img-fluid" src="../../assets/images/a2.png" alt="alternative">
                                </div>
                                <!-- end of image pane -->
                                
                                <!-- Text And Icon Cards Area -->
                                <div class="col-md-8">
                                    <div class="text-area">
                                        <h3>
നിലവിലുള്ള ഉപഭോക്താക്കൾക്കായി ഒരു പ്ലാൻ</h3>
                                        <p>നിങ്ങൾ ഒരു റോയൽ പ്ലസ് പ്ലാൻ ഉപഭോക്താവാണെങ്കിൽ നിങ്ങളുടെ ക്ലബ് പോയിന്റ് യാത്രയിലേക്ക് റിഡീം ചെയ്യാം. കുറഞ്ഞത് 12,000 ക്ലബ് പോയിന്റുകൾ ഉണ്ടെങ്കിൽ</p>
                                    </div> <!-- end of text-area -->
                                    
                                    <div class="icon-cards-area">
                                            <div class="card">
                                                <div class="card-icon">
                                                    <i class="far fa-sticky-note"></i>
                                   </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Eligibility</h4>
                                                    <p>Travelled Customers Only</p>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-icon">
                                                    <i class="far fa-bookmark"></i>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Age Requirement</h4>
                                                    <p>18 or Above</p>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-icon">
                                                    <i class="far fa-calendar-check"></i>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Validty</h4>
                                                    <p>2 Years</p>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-icon">
                                                    <i class="fas fa-circle"></i>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Minimum Points Required</h4>
                                                    <p>10,000 Club Points</p>
                                                </div>
                                            </div>
                                    </div> <!-- end of icon cards area -->
                                </div> <!-- end of col-md-8 -->
                                <!-- end of text and icon cards area -->

                            </div> <!-- end of row -->
                        </div> <!-- end of container -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                        <div class="container">
                            <div class="row">

                                <!-- Text And Icon Cards Area -->
                                <div class="col-md-8">
                                    <div class="icon-cards-area">
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="far fa-calendar-check"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Validity</h4>
                                                <p>2 Years for Account Validity</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="far fa-sticky-note"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Requirement</h4>
                                                <p>18 or Above</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="fas fa-cube"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Point Score</h4>
                                                <p>Higher than Royal & Royal+ plans</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="far fa-bookmark"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Support</h4>
                                                <p>+91 00000000000</p>
                                            </div>
                                        </div>
                                    </div> <!-- end of icon cards area -->
                                    
                                    <div class="text-area">
                                        <h3>More Info</h3>
                                        <p>നിങ്ങൾക്കും പണം സമ്പാദിക്കാം, കൂടുതൽ വിവരങ്ങൾക്ക് നമ്പരുമായി ബന്ധപ്പെടുക  <a class="turquoise" href="#your-link">info@rclub.com</a>.</p>
                                    </div> <!-- end of text-area -->
                                </div> <!-- end of col-md-8 -->
                                <!-- end of text and icon cards area -->

                                <!-- Image Pane -->
                                <div class="col-md-4">
                                    <img class="img-fluid" src="../../assets/images/a3.png" alt="alternative">
                                </div>
                                <!-- end of image pane -->
                                    
                            </div> <!-- end of row -->
                        </div> <!-- end of container -->
                    </div><!-- end of tab-pane -->
                    <!-- end of tab -->

                </div> <!-- end of tab-content -->
                <!-- end of tabs content -->

            </div> <!-- end of row --> 
        </div> <!-- end of container --> 
    </div> <!-- end of tabs -->
    <!-- end of features -->


    <!-- Video -->
    <div id="preview" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>MORE INFO</h2>
                    <div class="p-heading p-large">
കൂടുതലറിയാൻ ഈ വീഡിയോ കാണുക</div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Video Preview -->
                    <div class="image-container">
                        <div class="video-wrapper">
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=WLx5Z9Wu2bA&t=25s" data-effect="fadeIn">
                                <img class="img-fluid" src="../../assets/images/vid-thumb.PNG" alt="alternative">
                                <span class="video-play-button">
                                    <span></span>
                                </span>
                            </a>
                        </div> <!-- end of video-wrapper -->
                    </div> <!-- end of image-container -->
                    <!-- end of video preview -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of video -->


    <!-- Details 1 -->
    <div id="details" class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid" src="../../assets/images/c1.png" alt="alternative">
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-container">
                        <h3>Benefits</h3>
                        <p>യാത്ര ചെയ്യാൻ എല്ലാവരും ഇഷ്ടപ്പെടുന്നു, 
നിങ്ങൾക്ക് യാതൊരു ചെലവും ഇല്ലാതെ
യാത്ര ചെയ്യാൻ കഴിയും <br><br> അതിശയകരമായ ഓഫറുകളുമൊത്ത് നിങ്ങൾ ഇഷ്ടപ്പെടുന്ന ലൊക്കേഷനിലേക്ക് യാത്രചെയ്യാനുള്ള അവസരം ഞങ്ങളുടെ പാക്കേജ് നിങ്ങൾക്ക് നൽകുന്നു. <br><br></p>
                        <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">POINT SYSTEM</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of details 1 -->


    <!-- Details 2 -->
    <div class="basic-3">
        <div class="second">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h3>ക്ലബ് മെംബർമാർ ഇത് അറിഞ്ഞിരിക്കണം</h3>
                            <p>
നിയമങ്ങൾ എല്ലായ്പ്പോഴും പാലിക്കണം</p>
                            <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-2">RULES</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <img class="img-fluid" src="../../assets/images/c2.png" alt="alternative">
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of second -->
    </div> <!-- end of basic-3 -->    
    <!-- end of details 2 -->


    <!-- Details Lightboxes -->
	<!-- Lightbox -->
	<div id="details-lightbox-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
		<div class="row">
			<button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
			<div class="col-lg-6">
				<img class="img-fluid" src="../../assets/images/c4.png" alt="alternative">
			</div>
			<div class="col-lg-6">
				<h3>Club Points</h3>
				<hr>
                <p>ഓരോ പദ്ധതിയിലും അതിന്റേതായ വ്യത്യാസം ഉണ്ട് </p>
                <h4>Point System</h4>
                <p>ഓരോ പോയിന്റും 1 രൂപയുടെ മൂല്യമാണ് 
നിങ്ങളുടെ റഫറൻസ് കോഡുമായി ആരെങ്കിലും യാത്ര ചെയ്യുകയാണെങ്കിൽ നിങ്ങൾക്ക് ക്ലബ് പോയിന്റുകൾ ലഭിക്കും </p>
                <p>ഓരോ പുതിയ അക്കൌണ്ടും 1000 ക്ലബ് പോയന്റോടെ ആരംഭിക്കും</p>
				<table>
					<tr><td class="icon-cell"><i class="fas fa-circle-notch"></i></td><td>500 Points Per International Reference</td></tr>
					<tr><td class="icon-cell"><i class="fas fa-circle-notch"></i></td><td>250 Points Per Domestic Reference</td></tr>
					<tr><td class="icon-cell"><i class="fas fa-circle-notch"></i></td><td>Refer a Friend 50 Points</td></tr>
					<tr><td class="icon-cell"><i class="fas fa-circle-notch"></i></td><td>Redeem After 5000 Points</td></tr>
					<tr><td class="icon-cell"><i class="fas fa-circle-notch"></i></td><td>Valid Throughout 2 Years</td></tr>
					<tr><td class="icon-cell"><i class="fas fa-circle-notch"></i></td><td>Redeemable for listed uses</td></tr>
				</table>
				<a class="btn-solid-reg" href="#your-link">TRANSFERABLE</a> <a class="btn-outline-reg mfp-close as-button" href="#details">BACK</a> 
			</div>
		</div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    
    <!-- Lightbox -->
    <div id="details-lightbox-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
		<div class="row">
			<button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
			<div class="col-lg-6">
				<img class="img-fluid" src="../../assets/images/c4.png" alt="alternative">
			</div>
			<div class="col-lg-6">
				<h3>
നിയമങ്ങൾ</h3>
				<hr>
                <p>നിയമങ്ങൾ എല്ലായ്പ്പോഴും പാലിക്കണം</p>
                <h4>------</h4>
                <p>എല്ലാ ക്ലബ് അംഗങ്ങൾക്കും 18 വയസ്സ് തികഞ്ഞിരിക്കണം.</p>
                <p>ലോകത്തിന്റെ ഏതു ഭാഗത്തുനിന്നും ഞങ്ങളുടെ പ്രോഗ്രാമിൽ പങ്കെടുക്കാം</p>
				<table>
					<tr><td class="icon-cell"><i class="fas fa-circle-notch"></i></td><td>Must use Reference Code</td></tr>
					<tr><td class="icon-cell"><i class="fas fa-circle-notch"></i></td><td>Must check/communicate with assigned coordinator</td></tr>
					<tr><td class="icon-cell"><i class="fas fa-circle-notch"></i></td><td>Must Read Terms & conditions</td></tr>
					<tr><td class="icon-cell"><i class="fas fa-circle-notch"></i></td><td>Clear your questions before proceeding</td></tr>
					<tr><td class="icon-cell"><i class="fas fa-circle-notch"></i></td><td>Royal & Royal+ Points cannot be redeemed as physical currency</td></tr>
					<tr><td class="icon-cell"><i class="fas fa-circle-notch"></i></td><td>Freelancers can redeem points to real life currency</td></tr>
				</table>
				<a class="btn-solid-reg" href="#your-link">+91 0000000000</a> <a class="btn-outline-reg mfp-close as-button" href="#details">BACK</a>
			</div>
		</div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- end of details lightboxes -->

    <!-- <div class="slider-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    
                    <div class="slider-container">
                        <div class="swiper-container image-slider swiper-container-horizontal">
                            <div class="swiper-wrapper" style="transform: translate3d(-841.6px, 0px, 0px); transition-duration: 0ms;">
                                
                                
                                <div class="swiper-slide" style="width: 180.4px; margin-right: 30px;">
                                    <a href="../../assets/images/ss1.jfif" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="../../assets/images/ss2.png" alt="alternative">
                                    </a>
                                </div>
                                
                                <div class="swiper-slide" style="width: 180.4px; margin-right: 30px;">
                                    <a href="../../assets/images/ss2.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="../../assets/images/ss2.png" alt="alternative">
                                    </a>
                                </div>
                               
                                <div class="swiper-slide" style="width: 180.4px; margin-right: 30px;">
                                    <a href="../../assets/images/ss2.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="../../assets/images/ss2.png" alt="alternative">
                                    </a>
                                </div>
                               
                                <div class="swiper-slide swiper-slide-prev" style="width: 180.4px; margin-right: 30px;">
                                    <a href="../../assets/images/ss2.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="../../assets/images/ss2.png" alt="alternative">
                                    </a>
                                </div>
                               
                                <div class="swiper-slide swiper-slide-active" style="width: 180.4px; margin-right: 30px;">
                                    <a href="../../assets/images/ss2.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="../../assets/images/ss2.png" alt="alternative">
                                    </a>
                                </div>
                               
                                <div class="swiper-slide swiper-slide-next" style="width: 180.4px; margin-right: 30px;">
                                    <a href="../../assets/images/ss2.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="../../assets/images/ss2.png" alt="alternative">
                                    </a>
                                </div>
                               
                                <div class="swiper-slide" style="width: 180.4px; margin-right: 30px;">
                                    <a href="../../assets/images/ss2.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="../../assets/images/ss2.png" alt="alternative">
                                    </a>
                                </div>
                                
                                <div class="swiper-slide" style="width: 180.4px; margin-right: 30px;">
                                    <a href="../../assets/images/ss2.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="../../assets/images/ss2.png" alt="alternative">
                                    </a>
                                </div>
                               
                                <div class="swiper-slide" style="width: 180.4px; margin-right: 30px;">
                                    <a href="../../assets/images/ss2.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="../../assets/images/ss2.png" alt="alternative">
                                    </a>
                                </div>
                                
                                <div class="swiper-slide" style="width: 180.4px; margin-right: 30px;">
                                    <a href="../../assets/images/ss2.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="../../assets/images/ss2.png" alt="alternative">
                                    </a>
                                </div>
                                
                                
                            </div>
                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false"></div>
                            

                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div> 
                    </div> 

                </div> 
            </div> 
        </div> 
    </div> -->

    <!-- Download -->
    <div class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5">
                    <div class="text-container">
                        <h2>Call +91 0000000000 <span class="blue">For More Follow Mr.Harees Ameerali on YouTube & Facebook</span></h2>
                        <p class="p-large">
കൂടുതൽ വിവരങ്ങൾക്ക് യുട്യൂബിലും ഫേസ്ബുക്കിലും ഞങ്ങളെ പിന്തുടരുക</p>
                        <a class="btn-solid-lg" href="#your-link"> Email Us</a>
                        <a class="btn-solid-lg" href="#your-link">Submit Your Application</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6 col-xl-7">
                    <div class="image-container">
                        <img class="img-fluid" style="margin-top:30%" src="../../assets/images/visit.png" alt="alternative">
                    </div> <!-- end of img-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
    <!-- end of download -->


    <!-- Statistics -->
    <!-- <div class="counter">
        <div class="container">
            <div class="row">
                
                    <div id="counter">
                        <div class="cell col-lg-3">
                            <div class="counter-value number-count" data-count="241233" style="text-align: left;padding-right: 10%;margin-left: 0px;">1</div>
                            <p class="counter-info">YouTube Subscribers</p>
                        </div>
                        <div class="cell col-lg-3">
                            <div class="counter-value number-count" data-count="85">1</div>
                            <p class="counter-info">Issues Solved</p>
                        </div>
                        <div class="cell col-lg-3">
                            <div class="counter-value number-count" data-count="59">1</div>
                            <p class="counter-info">Good Reviews</p>
                        </div>
                        <div class="cell col-lg-3">
                            <div class="counter-value number-count" data-count="149000">1</div>
                            <p class="counter-info">Facebook Followers</p>
                        </div>
                    </div>
                    
                    
                
            </div> 
        </div> 
    </div>  -->
    <!-- end of statistics -->
    


    <!-- Contact -->
    <div id="contact" class="form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>CONTACT</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address">എന്തെങ്കിലും ചോദ്യങ്ങളുണ്ടോ?</li>
                        <li><i class="fas fa-map-marker-alt"></i>Royalsky Holidays, Near Cusat Metro</li>
                        <li><i class="fas fa-phone"></i><a class="blue" href="tel:0484 123456">+91 0000000000</a></li>
                        <li><i class="fas fa-envelope"></i><a class="blue" href="mailto:office@royalskyclub.com">office@royalskyclub.com</a></li>
                    </ul>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    
                    <!-- Contact Form -->
                    <form id="contactForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" required>
                            <label class="label-control" for="cemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required></textarea>
                            <label class="label-control" for="cmessage">Your message</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group checkbox">
                            <input type="checkbox" id="cterms" value="Agreed-to-Terms" required>I have read and agree to Leno's stated conditions in <a href="privacy">Privacy Policy</a> and <a href="terms">Terms Conditions</a> 
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">SUBMIT MESSAGE</button>
                        </div>
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form -->
    <!-- end of contact -->