<div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form validate-form">
          <span class="login100-form-title p-b-26">
            Welcome
          </span>
          <span class="login100-form-title p-b-48">
            <i class="zmdi zmdi-font"></i>
          </span>

          <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
            <input class="input100" type="text" [(ngModel)]="email"  name="email" placeholder="email">
            <!-- <div *ngIf = "!email.touched" >
              <span class="focus-input100" >Email</span>
            </div> -->
          </div>

          <div class="wrap-input100 validate-input" data-validate="Enter password">
            <span class="btn-show-pass" (click) = "showPass(pwd)">
              <i class="zmdi zmdi-eye"></i>
            </span>
            <input class="input100" type="password" [(ngModel)]="password" #pwd name="pass" placeholder="password">
            <!-- <span class="focus-input100" data-placeholder="Password"></span> -->
          </div>

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn" (click)="login()">
                Login
              </button>
            </div>
          </div>

          <div class="text-center p-t-115">
            <span class="txt1">
              Don’t have an account?
            </span>

            <a class="txt2" (click)="register()">
              Sign Up
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
