 @media only screen and (min-width: 513px) {
    .memberShipCard{
    width: 50vw;
    height: 100vh;
    padding: 0% 5% 5% 5%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    justify-content: center;
    display: flex;

}

/* #memberShipCardImg{
    width: 60vw;
} */
.reward-anime {
     
    animation-name: moveInLeft;
    animation-duration:3s;
    animation-timing-function: ease-out;
    
}
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-60px);
    }
    80%{
        transform: translateX(20px);
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}
    .bodyBackground{
    
    background-image: url(../../assets/images/membership_lb_card.png);
       max-height: 90%;
    min-height: max-content;
    max-width: 100%;
    min-width: 100%;
    
    background-size: cover;
    background-position: center;
    border-image-outset: 10px;
    vertical-align: middle;
    box-sizing: border-box;
    margin: auto;
    border: outset;

    
    /* background-image: linear-gradient(to right bottom, 
    rgba(188, 141, 250, 0.897),rgba(106, 22, 155, 0.644)),
     url(../../assets/images/membership_lb_card.png); */
        
    /* clip-path: polygon(0 0, 100% 0, 100% 400px, 50% 500 px, 0 400px); */
    
     
    
    }
    .cardno{
     padding-top: 15%;
     margin: 3%;
     justify-content: center;
    }
    .username{
     margin: 3%;
     justify-content: center;
    }
    .validity{
    margin: 3%;
    justify-content: center;
    padding: 3%;
    display: grid;
    justify-items: center;
    }
 }

 @media only screen and (max-width: 512px) {
    .memberShipCard{
    
    /* padding: 5% 5% 5% 5%; */
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 5%;
    /* justify-content: center; */
    /* vertical-align: middle; */
    justify-content: center;
    display: flex;
}
 

.bodyBackground{
    
   background: url(../../assets/images/membership_lb_card.png) no-repeat;
    
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    border-image-outset: 15px;
    vertical-align: middle;
    border: outset;

    
    /* background-image: linear-gradient(to right bottom, 
    rgba(188, 141, 250, 0.897),rgba(106, 22, 155, 0.644)),
     url(../../assets/images/membership_lb_card.png); */
        
    /* clip-path: polygon(0 0, 100% 0, 100% 400px, 50% 500 px, 0 400px); */
    
     
    
    }
#cardnomob{
 font-size: 12px;
 text-align: center;

}
#usernamemob{
 font-size: 12px;
 text-align: center;

}
#validfrommob{
 font-size: 11px;
 

}
#validitymob{
 font-size: 12px;

}
#validtomob{
 font-size: 11px;

}
#expirymob{
 font-size: 12px;

}
.cardno{
     padding-top: 15%;
     margin: 1%;
     justify-content: center;
    
    }
.username{
     margin: 1%;
     justify-content: center;
      
    }
.validity{
        margin: 0%; 
    
    }

}