<div class="reward-anime">
    <!-- <h1>RoyalSky Mmbership Card</h1> -->
    <!-- <div class="memberShipCard">
        <img id="memberShipCardImg" [src]="card" alt="error showing your membershipcard">
    </div> -->
    <div class="memberShipCard">
        <div class="bodyBackground">
            <div class="container">
                <div class="row cardno">
                    <div class="col-md-8 col-lg-8 col-xs-8 col-sm-8">
                        <h2 id="cardnomob">{{cardno | cardnumber:4}}</h2>
                    </div>
                </div>
                <div class="row username">
                    <div class="col-md-8 col-lg-8 col-xs-8 col-sm-8">
                        <h3 id="usernamemob">{{username}}</h3>
                    </div>
                </div>
                <div class="row username">
                    <div class="validity col-md-4 col-lg-4 col-xs-4 col-sm-4">
                        <h6 id="validfrommob">VALID FROM</h6>
                        <h5 id="validitymob">{{cardvalidfrom | date:'shortDate'}}</h5>
                    </div>
                    <div class="validity col-md-4 col-lg-4 col-xs-4 col-sm-4">
                        <h6 id="validtomob">EXPIRES ON</h6>
                        <h5 id="expirymob">{{cardvalidtill | date:'shortDate'}}</h5>
                    </div>
                    <div align="right">
                        <label>{{cardSecret | slice: -5 }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="memberShipCard">
        <h2>{{cardno}}</h2><br>
        <h3>{{username}}</h3><br>
        <h3>Valid from: </h3>
        <h2>{{cardvalidfrom | date:'shortDate'}}</h2><br>
        <h3>Expires on: </h3>
        <h2>{{cardvalidtill | date:'shortDate'}}</h2>

    </div> -->
    <!-- <div>
        <h3>Where does it come from?</h3>
        <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin
            literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney
            College in Virginia.</p>
    </div> -->
</div>