<div class="rewardcontainer">
  <div class="reward-table reward-anime">
    
      <table class="table">
        <thead class="tableHeadText">
          <th class="tableBorderheader">Date</th>
          <th class="tableBorderheader">Details</th>
          <th class="tableBorderheader">Type</th>
          <th class="tableBorderheader">Loyality Points</th>
        </thead>
        <tbody *ngFor="let users of data; let i = index;">
          <tr class="tableBorder tableHighlight">
            <td class="tableBorder tableBodyContent">{{users.date}}</td>
            <td class="tableBorder tableBodyContent">{{users.description}}</td>
            <td class="tableBorder tableBodyContent">{{users.last_added>0?'credit':'debit'}}</td>
            <td class="tableBorder tableBodyContent">{{users.last_added>0?users.last_added:-users.last_added}}</td>
          </tr>
        </tbody>
      </table>
    
  </div>
</div>