@media only screen and (max-width: 512px) {
  .rewardcontainer {
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 1vw;
    padding-right: 3vw;
    padding-left: 3vw;
    padding-top: 1vh;
    padding-bottom: 5vh;
    top: 0vh;
    position: relative;
    vertical-align: middle;
    align-content: left;
    align-items: center;
    justify-content: center;
    display: contents;
}
    
.reward-table{
    font-size: 100%;
    color: white;
    font-weight: 500;
}
  
.reward-table:hover{
    padding: 15% 15% 20% 14%;
 
    /* background: #fff; */
    font-size: 100%;
    color: white;
    font-weight: 500;
    /* box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1); */
}
   
.reward-anime {
     
    animation-name: moveInLeft;
    animation-duration:3s;
    animation-timing-function: ease-out;
    
}

.rewardBtn:hover {
    transform: translateY(-3px) ;   
    box-shadow: 0 5px 20px rgba(11, 47, 58, 0.644);
}

.table {
   background-color: rgba(255, 255, 255, 0.3);
   margin-top: 5%;
   
}

.tableHeadText {
    font-weight: bold; 
    border: 1px solid;
    color: white;
    vertical-align: middle;
}

.tableBorderheader {
    border: 0.5px solid white;
    background-color: #0400ff75;
    text-align: center;
    vertical-align: middle;
}
.tableBorder {
    border: 0.5px solid white;
}

.tableBodyContent {
    color: white;
    text-align: center;
    vertical-align: middle;
    min-width: 8vw;
    /* max-width: 30vw; */
}

.tableHighlight:hover {
    box-shadow: 0 5px 20px rgba(11, 47, 58, 0.644);
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-60px);
    }
    80%{
        transform: translateX(20px);
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}
 

}

@media only screen and (min-width: 513px) {

 .rewardcontainer {
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 1vw;
    padding-right: 52vw;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 5vh;
    top: 0vh;
    position: relative;
    vertical-align: middle;
    align-content: left;
    align-items: center;
    justify-content: center;

 
}
    
 .reward-table{
    padding: 15% 15% 20% 14%;
   
    margin: 10%;
    /* background: #fff; */
    font-size: 100%;
    color: white;
    font-weight: 500;
    /* box-sizing: border-box;
    border: 1px solid white; */
}
  
.reward-table:hover{
    padding: 15% 15% 20% 14%;
 
    /* background: #fff; */
    font-size: 100%;
    color: white;
    font-weight: 500;
    /* box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1); */
}
   
.reward-anime {
     
    animation-name: moveInLeft;
    animation-duration:3s;
    animation-timing-function: ease-out;
    
}

.rewardBtn:hover {
    transform: translateY(-3px) ;   
    box-shadow: 0 5px 20px rgba(11, 47, 58, 0.644);
}

.table {
   background-color: rgba(255, 255, 255, 0.3);
   margin-top: 5%;
   
}

.tableHeadText {
    font-weight: bold; 
    border: 1px solid;
    color: white;
    vertical-align: middle;
}

.tableBorderheader {
    border: 0.5px solid white;
    background-color: #0400ff75;
    text-align: center;
    vertical-align: middle;
}
.tableBorder {
    border: 0.5px solid white;
}

.tableBodyContent {
    color: white;
    text-align: center;
    vertical-align: middle;
    min-width: 8vw;
    /* max-width: 30vw; */
}

.tableHighlight:hover {
    box-shadow: 0 5px 20px rgba(11, 47, 58, 0.644);
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-60px);
    }
    80%{
        transform: translateX(20px);
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}
 

}

