 <!-- Preloader -->
 <div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->




<!-- Header -->
<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Terms & Conditions</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a href="index.html">Home</a><i class="fa fa-angle-double-right"></i><span>Terms & Conditions</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->


<!-- Terms Content -->
<div class="ex-basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="text-container">
                    <h3>Royalsky Club Membership Rules</h3>
                    <p>The following are the rules for our membership program.</p>
                    <p>
നിങ്ങൾ തുടക്കത്തിൽ ഒരു അക്കൗണ്ട് രജിസ്റ്റർ ചെയ്യുമ്പോൾ, നിങ്ങളുടെ പ്രൊഫൈൽ വിശദാംശങ്ങൾ പരിശോധിക്കാൻ ഞങ്ങളുടെ എക്സിക്യൂട്ടീവ് ഒരാൾ നിങ്ങളെ ബന്ധപ്പെടും. അതിനാൽ നിങ്ങളുടെ ഏറ്റവും കൃത്യമായ വിശദാംശങ്ങൾ ഉപേക്ഷിക്കുന്നത് ഉറപ്പാക്കുക  / When you initially register an account, one of our executive will reach out to you to verify your profile details. Hence be sure to drop your most accurate details <a class="turquoise" href="#your-link">Submit Here</a> Our Rules are:</p>
                    <ul class="list-unstyled li-space-lg indent">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">നിയമങ്ങൾ‌ മാറ്റത്തിന് വിധേയമാണ്. / Rules are subjected to change, as this is our initial public launch.</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">
മാറ്റം വരുത്തിയ നിയമങ്ങൾ അപ്‌ഡേറ്റ് ചെയ്യുകയും ഓൺലൈനിൽ ലിസ്റ്റുചെയ്യുകയും ചെയ്യും (എന്തെങ്കിലും ഉണ്ടെങ്കിൽ) / Altered Rules will be updated & listed online.(if any)</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">എല്ലാ അപേക്ഷകരും പ്രവർത്തന നമ്പറുകൾ നൽകണം (കോളിംഗിനും കൂടാതെ / അല്ലെങ്കിൽ വാട്ട്‌സ്ആപ്പിനും) / All applicants must provide working contact details (For calling and/or Whatsapp)</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">എല്ലാ അംഗങ്ങളും www.royalskyclub.com രജിസ്റ്റർ ചെയ്തിരിക്കണം / All members must be registered on www.royalskyclub.com </div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">നിങ്ങൾ ഒരു അക്കൗണ്ട് രജിസ്റ്റർ ചെയ്തുകഴിഞ്ഞാൽ ഞങ്ങളുടെ സ്റ്റാഫ് നിങ്ങളെ ബന്ധപ്പെടും. / Must be verified by our Representative via a short phone call in-order to activate your account.</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">
നിങ്ങളുടെ രജിസ്റ്റർ ചെയ്ത കോൺടാക്റ്റ് നമ്പർ, പേര്, അക്കൗണ്ട് നമ്പർ എന്നിവ അടിസ്ഥാനമാക്കി അംഗങ്ങളെ ക്രോസ് ചെക്ക് ചെയ്യും. / Members will be cross-checked based on your registered contact number & Name.</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">
നിങ്ങളുടെ പ്രദേശം പരിഗണിക്കാതെ തന്നെ നിങ്ങൾക്ക് രജിസ്റ്റർ ചെയ്യാനും റോയൽസ്കി ക്ലബ് അംഗമാകാനും കഴിയും / You can register and be a Royalsky club member regardless of your locality.</div>
                        </li>
            <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">കാർഡ് ഉടമയുടെ ഇഷ്ടപ്രകാരം Membership പോയിന്റുകൾ മറ്റൊരു ഉപഭോക്താവിന് കൈമാറാൻ കഴിയും. / Membership points can be transferred to another customer as per the card holder’s choice.</div>
                        </li>
            <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">
ഓരോ പ്ലാനിനും അതിന്റേതായ നിയമങ്ങളുണ്ട് / Each scheme has it’s own redeem policy.</div>
                        </li>
            <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">
Royalsky Holidays Tour പാക്കേജുകൾക്ക് മാത്രമേ ക്ലബ് Membership പോയിന്റ് ഉപയോഗിക്കാനാകൂ. / Club Membership point is only usable for Tour packages within Royalsky Holidays.</div>
                        </li>
            <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">You are not required to carry a physical copy of your membership card as of 2019.</div>
                        </li>
            <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">നിങ്ങളുടെ പോയിന്റുകൾ വേഗത്തിൽ നേടുന്നതിന് ഒരു സുഹൃത്തിനെ റഫറി ചെയ്യുമ്പോൾ നിങ്ങൾ ഞങ്ങളുടെ Staff-ine ബന്ധപ്പെടണം. / You must contact our representative while refereeing a friend to obtain your points faster.</div>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
                
                <div class="text-container">
                    <h3>Terms And Conditions</h3>
                    <p>
ഒരു സാഹചര്യത്തിലും, റോയൽ സ്കൈ ഹോളിഡേകൾ നിങ്ങളുടെ അക്കൗണ്ട് / പ്രൊഫൈൽ വിശദാംശങ്ങൾ വെളിപ്പെടുത്തില്ല. ഞങ്ങളുടെ രജിസ്ട്രേഷനും പരിശോധന പ്രക്രിയയിലും നിങ്ങൾ പങ്കിടുന്നതെല്ലാം സ്വകാര്യതാ നയത്തിൽ നിലനിൽക്കും. / Under no circumstances, Royalsky Holidays will not reveal your account/profile details. As everything you share within our registration and verification process will stay within privacy policy.</p>
                </div> <!-- end of text-container -->

                
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic -->
<!-- end of terms content -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a href="index.html">Home</a><i class="fa fa-angle-double-right"></i><span>Terms & Conditions</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->