<!-- <div class="container"> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

<!-- <div class="col-md-1 col-lg-1 col-xs-1"></div> -->

<div *ngIf="smallDevice; then mobileView else lapView"></div>
<ng-template #mobileView>
	<div class="bground">
		<div class="row settings">

			<!-- view for mobile devices  -->
			<button class="col-xs-3 btn btn-outline-info btn-sm accountBtn  " [class.active]="_accounts"
				(click)="showUserAccount()">My Account</button>
			<button class="col-xs-3 btn btn-outline-success btn-sm accountBtn   " [class.active]="_card"
				(click)="showCard()">Membership
				Card</button>
			<button class="col-xs-3 btn btn-outline-warning btn-sm accountBtn   " [class.active]="_table"
				(click)="showAccruals()">Accurals</button>


		</div>
		<div class="row mobPoints">
			<div class="gradientborder">
				<!-- <div> -->
				<!-- <p class="profile-usertitle-name" id="profileUserName"></p> -->
				<button class="btn btn btn-outline-secondary btn-sm  " id="rewardPoints"></button>
				<!-- <p class="profile-usertitle-job" id="lastAddedDate"></p> -->
			</div>
		</div>
		<div class="row mobPoints">
			<div id="myAccount_component" class="col-xs-8 " [hidden]="!_accounts">
				<div class="profile-sidebar sidebar-anime ">
					<!-- SIDEBAR USERPIC -->
					<!-- <div class="profile-userpic">
						<img src="../../assets/images/profile.png" class="img-responsive" alt="">
					</div> -->
					<!-- END SIDEBAR USERPIC -->
					<!-- SIDEBAR USER TITLE -->
					<div class="profile-usertitle">
						<p class="profile-usertitle-name" id="profileUserName"></p><br>
						<p class="profile-usertitle-name" id="profileUserEmail"></p><br>
						<p class="profile-usertitle-job" id="profileMembershipStatus"></p>
					</div>
					<!-- <div>
						 
						<button class="btn btn-primary btn-sm  Loyality-rewards-btn  popup-button" id="rewardPoints"
							(click)="toggleComponents()"></button>
						<p class="profile-usertitle-job" id="lastAddedDate"></p>
					</div> -->
					<!-- END SIDEBAR USER TITLE -->
					<!-- SIDEBAR BUTTONS -->
					<div class="profile-userbuttons">
						<!--button type="button" class="btn btn-success btn-sm homeBodyBtn" id="redeem" (click)="redeem()">Redeem</button-->
						<button (click)="redeem()">Redeem</button>
						<button type="button" class="btn btn-danger btn-sm homeBodyBtn"
							(click)="userLogout()">Logout</button>
						<button type="button" class="btn btn-primary btn-sm homeBodyBtn " id="homeBtn"
							(click)="userHome()">Home</button>
					</div>

					<!-- END SIDEBAR BUTTONS -->
					<!-- SIDEBAR MENU -->
					<!-- <div class="profile-usermenu">
						<ul class="nav listitems">
							<li class="active">
								<a href="#">
									<i class="glyphicon glyphicon-home"></i>
									Overview </a>
							</li>
							<li>
								<a href="#">
									<i class="glyphicon glyphicon-user"></i>
									Points History </a>
							</li>
							<li>
								<a href="#">
									<i class="glyphicon glyphicon-user"></i>
									Account</a>
							</li>
							<li>
								<a href="#">
									<i class="glyphicon glyphicon-flag"></i>
									Help </a>
							</li>
						</ul>
					</div> -->
					<!-- END MENU -->
				</div>
			</div>
			<!-- MEMBERSHIP card and reward table -->

			<!--  <div class="col-xs-8 componentcontainer" [hidden]="settings"> -->

			<div id="reward_table_component" class="col-xs-8  col-sm-8 sidebar-anime " [hidden]="!_table">
				<app-reward-table></app-reward-table>
			</div>
			<div id="membership_card_component" class="col-xs-8   col-sm-8 sidebar-anime" [hidden]="!_card">
				<app-membershipcard></app-membershipcard>
			</div>



			<!-- </div> > -->

		</div>
	</div>
</ng-template>




<ng-template #lapView>
	<div class="row profile bground">
		<div class="col-md-3 col-lg-3  col-xs-4">
			<div class="profile-sidebar sidebar-anime ">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="../../assets/images/profile.png" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<p class="profile-usertitle-name" id="profileUserName"></p>
					<p class="profile-usertitle-name" id="profileUserEmail"></p>
					<p class="profile-usertitle-job" id="profileMembershipStatus"></p>
				</div>
				<div class="profile-usertitle">
					<!-- <p class="profile-usertitle-name" id="profileUserName"></p> -->
					<button class="btn btn-primary btn-sm  Loyality-rewards-btn  popup-button" id="rewardPoints"
						(click)="toggleComponents()"></button>
					<p class="profile-usertitle-job" id="lastAddedDate"></p>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<a href="https://royalskyholidays.com"><button type="button" class="btn btn-success btn-sm  homeBodyBtn">Redeem</button></a>
					<button type="button" class="btn btn-danger btn-sm homeBodyBtn"
						(click)="userLogout()">Logout</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<!-- <div class="profile-usermenu">
					<ul class="nav listitems">
						<li class="active">
							<a href="#">
								<i class="glyphicon glyphicon-home"></i>
								Overview </a>
						</li>
						<li>
							<a href="#">
								<i class="glyphicon glyphicon-user"></i>
								Points History </a>
						</li>
						<li>
							<a href="#">
								<i class="glyphicon glyphicon-user"></i>
								Account</a>
						</li>
						<li>
							<a href="#">
								<i class="glyphicon glyphicon-flag"></i>
								Help </a>
						</li>
					</ul>
				</div> -->
				<!-- END MENU -->
			</div>
		</div>
		<!-- MEMBERSHIP card and reward table -->
		<div class="col-md-3 col-lg-8  col-xs-4 componentcontainer" [hidden]="settings">
			<div id="reward_table_component" [hidden]="toggle">
				<app-reward-table></app-reward-table>
			</div>
			<div id="membership_card_component" [hidden]="!toggle">
				<app-membershipcard></app-membershipcard>
			</div>


		</div>
		<!-- <div class="col-md-3 col-lg-3  col-xs-9" [hidden]="settings">
						<div id="accountsettings_component">
							<app-accountsetting></app-accountsetting>
						</div>
						 	
					</div> -->
	</div>
</ng-template>