/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/
 @media only screen and (max-width: 513px) {
   .settings{
    margin-left: 2vw;
    margin-top: 10vh;
    margin-right: 2vw;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 6vh;
    padding-bottom: 2vh;
    text-align: center;
    contain: content;
    justify-content: center;
    display: grid;
    
   } 
  .accountBtn{
    /* float: left; */
    padding: 1%; 
    margin-right: 3%;   
    margin-left:  2%; 
    margin-top: 1%;
    margin-bottom: 1%  
   }
  .cardBtn{
    vertical-align: middle;
    padding: 1%;   
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
   }
  .accrualsBtn{
    /* float: right; */
    padding: 1%;    
    margin-right:  2%;   
    margin-left:  3%; 
    margin-top: 1%;
    margin-bottom: 1%
   }
  .mobPoints{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
    justify-content: center;
  }
  #rewardPoints{
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  }
 .gradientborder {
   
  background: rgb(55, 7, 109);
  position: relative;
  border-radius: 10%;
}
/* .gradientborder:after {
  content: '';
  position: absolute;
  top: calc(-1 * 10%);
  left: calc(-1 * 10%);
  height: calc(100% + 10% * 2);
  width: calc(100% + 10% * 2);
  background: linear-gradient(to right bottom, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * 10%);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
} */



  @keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
  }
  }

  .bground {
  background: linear-gradient(to bottom right, rgba(72, 72, 212, 0), rgba(241, 104, 104, 0)), url('../../assets/images/header-background.jpg') center center no-repeat;
      }

  .componentcontainer {
    /* min-width: 500px; */
    /* margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 5vw;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 10vh;
    padding-bottom: 5vh;
    top: 5vh;
    position: absolute; */
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 2vw;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 3vh;
    padding-bottom: 6vh;
    top: 1vh;
    box-sizing: border-box;
    /* overflow: auto; */
    align-items: center;
    vertical-align: top;
}

/*****MyAccount**/
.profile-sidebar {
    padding: 10% 10% 10% 10%;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-right: 10%;
    justify-content: center;
    text-align: center;
    display: inline-grid;
  }
  .profile-sidebar_pnt {
    padding: 10% 10% 9% 10%; 
    /* background: #fff; */
    margin-top: 10%;
    margin-left: 1%;
    color: white;
    font-size: 120%;
  }
  .sidebar-anime {
     
    animation-name: moveInLeft;
    animation-duration:3s;
    animation-timing-function: ease-out;
    
  }
  .profile-usertitle {
    text-align: center;
    justify-content: center;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-right: 1%;
    padding: 5%;
  }
  
  .profile-usertitle-name {
     
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10%;
    color: #eee6f0;
    display: inline-block;
  }

  
  .profile-usertitle-job {
    text-transform: uppercase;
    color: #eee6f0;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15%;
    display: inline-block;
 
    
  }
 
  
  .profile-userbuttons {
    margin: 10%;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 6%;
    margin: 5%;
  }
  
  
      
  .profile-usermenu {
    margin-top: 30px;
   
  }

  .homeBodyContainer{
    padding-top: 5vh;
    padding-left: 3vw;
    padding-bottom: 5vh;
    padding-right: 3vw
}
.homeBodyHeader{
     font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    

}
#homeBtn{
    padding: 6%;
    padding-left: 12%;
    padding-right: 12%;
}
/* .homeBodyPara{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif'; 
    
} */

.sidebar-anime {
     
    animation-name: moveInLeft;
    animation-duration:3s;
    animation-timing-function: ease-out;
    
}

.homeBodyBtn:hover {
    transform: translateY(-3px) ;   
    box-shadow: 0 5px 20px rgba(11, 47, 58, 0.644);
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-60px);
    }
    80%{
        transform: translateX(20px);
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}
  
  

 }  

   @media only screen and (min-width: 513px) {
.componentcontainer {
    /* min-width: 500px; */
    /* margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 5vw;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 10vh;
    padding-bottom: 5vh;
    top: 5vh;
    position: absolute; */
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 2vw;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 3vh;
    padding-bottom: 6vh;
    top: 1vh;
    box-sizing: border-box;
    /* overflow: auto; */
    align-items: center;
    vertical-align: top;
}

.popup-button {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 90%;
    text-transform: uppercase;
    color: white;
    
    /* //Button shape & animation */
    /* border-radius: $border-rounded; */
    margin:  1%;
    padding: 1%;
    background-size: 200% auto;
    color: white;
     
    background-image: linear-gradient(to right, #350c85 0%, #7662ff 50%, #1560ae 100%);
    transition: 0.5s;
   
    }  
    .popup-button:hover  {
    background-position: right center;
    transform: translateY(-3px) ;   
    box-shadow: 0 5px 20px  rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    }

.bground {
  background: linear-gradient(to bottom right, rgba(72, 72, 212, 0), rgba(241, 104, 104, 0)), url('../../assets/images/header-background.jpg') center center no-repeat;
  
 
}
/* .row{
 
  margin-right: 10px;
  margin-left: 10px;
 
} */
  
  /* Profile container */
  .profile{
    margin-right: 0vw;
    margin-left: 0vw;
  }

  /* Sidebar Column */
  /* .col-3 {
    margin-left: 10%;
  }

  /* Progress */
 
  /* .col-9 {
    color: white;
    font-size: 120%;
  } */ 

  /* Profile sidebar */
  .profile-sidebar {
    padding: 14vh 2vw 10vh 2vw;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    justify-content: center;
    display: grid;
    box-sizing: border-box;
    top: 30%;
  }
  .profile-sidebar_pnt {
    padding: 10% 10% 9% 10%; 
    /* background: #fff; */
    margin-top: 10%;
    margin-left: 1%;
    color: white;
    font-size: 120%;
  }
  
  
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    /* width: 50%;
    height: 50%; */
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .profile-usertitle {
    text-align: center;
    justify-content: center;
    margin-top: 2%;
    padding: 4%;
    box-sizing: border-box;
  }
  
  .profile-usertitle-name {
     
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
    color: #eee6f0;
  }

  
  .profile-usertitle-job {
    text-transform: uppercase;
    color:  #eee6f0;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
    
  }
 
  
  .profile-userbuttons {
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    margin: 2%;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    margin-right: 10px;
  }
    
.profile-usermenu {
  margin-top: 30px;
  
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: 2px;
}

.listitems {
  margin-left: 36%;
  display: block; 
  padding-right: 37%;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
  margin-top: 24%;
}

  /********Ajay******/
/* @media (max-height: 513px) {
    .bodyBackground{
    height: 500px;
    background-image: linear-gradient(to right bottom, 
    rgba(188, 141, 250, 0.897),rgba(106, 22, 155, 0.644)),
     url(../../../assets/img/home/cascade-clouds-cool.jpg);
    background-size: cover;
    background-position:center;
    border-image-outset: 10px; 
     
    clip-path: polygon(0 0, 100% 0, 100% 400px, 50% 500 px, 0 400px);
    
     /* clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%); 
    
    }
}*/

/* @media (min-height: 513px) {
    .bodyBackground{
    height: 100vh;
      background-image: linear-gradient(to right bottom, 
    rgba(241, 182, 19, 0.856),rgba(20, 84, 136, 0.644)),
     url(../../assets/img/home/cascade-clouds-cool.jpg);  
    background-size: cover;
    background-position:top;
    border-image-outset: 10px;
       position: inherit;
      background-position:bottom;
     Pexels Videos 1409899  johann-siemens-EPy0gBJzzZU-unsplash.jpg)
     clip-path: polygon(0,0, 100% 0, 80% 200px, 0 100%);  
    clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 80%, 0 60%);
    
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);  
    
    }
}   */

.homeBodyContainer{
    padding-top: 5vh;
    padding-left: 3vw;
    padding-bottom: 5vh;
    padding-right: 3vw
}
.homeBodyHeader{
     font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    

}
/* .homeBodyPara{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif'; 
    
} */

.sidebar-anime {
     
    animation-name: moveInLeft;
    animation-duration:3s;
    animation-timing-function: ease-out;
    
}

.homeBodyBtn:hover {
    transform: translateY(-3px) ;   
    box-shadow: 0 5px 20px rgba(11, 47, 58, 0.644);
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-60px);
    }
    80%{
        transform: translateX(20px);
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}

}

  /********Ajay******/

  /* Membership Cards */
  

  /* Progress Bar */

  /* .loyaltyProgress {
    padding-top: 21%;
  }

  .loyaltyProgressBar {
    height: 15%;
  } */


  /* Circular Progress Bar */

  /* .progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
} */
