<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Event Registration Form</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="form-row m-b-55">
                        <div class="name">Name</div>
                        <div class="value">
                            <div class="row row-space">
                                <div class="col-5">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="first_name" [(ngModel)]="firstname">
                                        <label class="label--desc">first name</label>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="last_name" [(ngModel)]="lastname">
                                        <label class="label--desc">last name</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Email</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="email" name="email" [(ngModel)]="email">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Password</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="password" name="password" [(ngModel)]="password">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Date of Birth</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" id="datepicker" name="dob" type="date" [(ngModel)]="dob">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-row m-b-55">
                        <div class="name">Phone</div>
                        <div class="value">
                            <div class="row row-refine">
                                <div class="col-9">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="phone" [(ngModel)]="contactno">
                                        <label class="label--desc">Phone Number</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row m-b-55">
                        <div class="name">Whatsapp No</div>
                        <div class="value">
                            <div class="input-group-desc">
                                <input class="input--style-5" type="text" name="whatsappno" [(ngModel)]="whatsappno">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Address</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" name="address" [(ngModel)]="address">
                            </div>
                        </div>
                    </div>

                    <div class="form-row m-b-55">
                        <div class="name"></div>
                        <div class="value">
                            <div class="row row-space">
                                <div class="col-5">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="state" [(ngModel)]="state">
                                        <label class="label--desc">State</label>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="country" [(ngModel)]="country">
                                        <label class="label--desc">country</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row m-b-55">
                        <div class="name"></div>
                        <div class="value">
                            <div class="row row-space">
                                <div class="col-5">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="city" [(ngModel)]="city">
                                        <label class="label--desc">City</label>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="zip" [(ngModel)]="zip">
                                        <label class="label--desc">zip</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Relationship Status</div>
                        <div class="value">
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select class="input--style-5" name="relationshipstatus" [(ngModel)]="relationshipstatus">
                                        <option value="Married">Married</option>
                                        <option value="Unmarried">Unmarried</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="form-row p-t-20">
                            <label class="label label--block">Relationship status</label>
                            <div class="p-t-15" name = "relationshipstatus" [(ngModel)]="relationshipstatus">
                                <label class="radio-container m-r-55">Married
                                    <input type="radio" name="status" value = "married" (click)="test()" >
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">Unmarried
                                    <input type="radio" checked="checked" name="status" value = "unmarried" (click)="test1()" >
                                    <span class="checkmark"></span>
                                </label>
                            </div>

                            <select class="input--style-5" name="relationshipstatus" [(ngModel)]="relationshipstatus">
                                    <option value="married">Married</option>
                                    <option value="unmarried">Unmarried</option>
                                  </select>
                    </div> -->
                    
                    <div *ngIf="relationshipstatus === 'Married'">
                        <div  class="form-row">
                            <div class="name">Wedding Date</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="date" name="wedding_date" [(ngModel)]="weddingdate">
                                </div>
                            </div>
                        </div> 

                        <div  class="form-row">
                            <div class="name">Name of Spouse</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="spouse_name" [(ngModel)]="nameofspouse">
                                </div>
                            </div>
                        </div> 

                    </div>
                    <div class="form-row">
                        <div class="name">Have you travelled with us</div>
                        <div class="value">
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select class="input--style-5" name="travelStatus" [(ngModel)]="travelStatus">
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="travelStatus == 'Yes'">
                        <div  class="form-row">
                            <div class="name">When you have travelled with us</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="travelLocn" [(ngModel)]="travelLocn">
                                </div>
                            </div>
                        </div> 
                    </div>

                    
    
                    <div>
                        <button class="btn btn--radius-2 btn--red" type="submit" (click)="register()">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>